<main id="ask-main">
  <h1>quiz-gpt</h1>
  <main id="inputs">
    <label>Topic:</label>
    <input type="text" [placeholder]="randomTopicPlaceholder()" id="input-topic">
    <label>Model:</label>
    <select id="select-model">
      <option value="gpt-3.5-turbo" selected>gpt-3.5-turbo</option>
      <option value="gpt-3.5-turbo-1106">gpt-3.5-turbo-1106</option>
      <option value="gpt-4">gpt-4</option>
      <option value="gpt-4-1106-preview">gpt-4-1106-preview</option>
    </select>
    <label>API Secret:</label>
    <input type="password" placeholder="***" id="input-api-secret">
    <button (click)="startGame()">Start</button>
  </main>
  <main id="information" style="display: none">
    <p>Topic: {{topic}}</p>
    <p>Model: {{model}}</p>
    <p>Score: {{score}}</p>
  </main>
</main>

<section id="quiz-main">
  <app-loader *ngIf="question === null && inGame"></app-loader>
  <app-question *ngIf="question !== null && inGame" [question]="question" (answerIsCorrect)="validateAnswer($event)"></app-question>
  <div *ngIf="looseScreen" class="looseScreen">
    <h1>It's wrong 😔 - Your score was {{score}}</h1>
    <a (click)="restart()">Restart quiz</a> <br/>
    <a (click)="reset()">Create new quiz</a>
  </div>
</section>
