@import "../variables";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

#inputs {
  width: 100%;
}

#ask-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30dvw;
  padding: 2rem;

  @media (max-width: 1000px) {
    width: 50vw;
  }

  @media (max-width: 500px) {
    width: 80vw;
  }

  &.top {
    top: 75px;
    transform: translate(-50%, -50%);
  }

  label {
    font-size: 1.25rem;
  }

  transition: all 0.8s ease-in-out;
}

#quiz-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

select, input, button {
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid darken($light-bg, 15%);
  margin: 0.5rem 0;
  width: 100%;
}

button {
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: darken($light-bg, 15%);
  }
}

p {
  font-size: 1.25rem;
}

.looseScreen {
  text-align: center;
}
