#topic-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);

  .topic-dialog__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
    gap: 0.5em;
    background-color: transparent;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

input {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #333;
  outline: none;
}
