@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import "variables";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  font-size: 1.6rem;
  color: $dark-color;
  background-color: $light-bg;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &.noHover {
    cursor: default;
  }

  &:hover:not(.noHover) {
    text-decoration: underline;
  }

  &:visited {
    color: inherit;
  }
}
